# cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
.ruff_cache
.coverage

# installed packages
*.dist-info/
*.egg-info/

# json files
*.json
*.jsonl

# profiling data
*.nsys-rep
*.ncu-rep
htmlcov/

# binaries
build/
dist/
*.tar.gz

# virtual environment
.venv*/
venv/
env/

# clangd config
.clangd

# .vscode
.vscode/

# logs
/logs

# personal files
default_voices/*
!default_voices/AmericanFemale.mp3
!default_voices/AmericanMale.mp3
!default_voices/BritishFemale.mp3

# editor swap files
*.swp
